body{
    gap: 70px;
    background-image: linear-gradient(rgb(227, 254, 165), rgb(12, 35, 7));
    background-size: 100px;
}

header{
    grid-area: header;
    width: 100%;
	    height: 125px;
	    position: relative;
}

h1#logo{
	  top: -10px;
	  left: 7%;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 3rem;
	  position: absolute;
    color: rgb(0, 59, 0);
}

#description{
    grid-area: description;
    text-align: center;
    color: rgb(255, 255, 232);
    padding-top: 3%;
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 5%;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

#subheading{
    font-family: 'Poppins', sans-serif;
}

#link{
    color: rgb(245, 245, 198);
    font-family: 'Poppins', sans-serif;
}

#about{
    background-color: rgb(255, 255, 219);
    padding-top: 25px;
    padding-bottom: 5%;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Raleway', sans-serif;;
    width: 75%;
    margin: 0 auto;
}

#footer{
    grid-area: footer;
    color: beige;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: small;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}



.main{
    grid-area: main_content;  
    padding-left: 10vh;
    padding-right: 10vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_map slideshow";
    display: grid;
}


#contents{
    grid-area: content;
    background-color: white;
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

/* Slideshow container */
.slideshow-container {
    grid-area: slideshow;
    height: 80vh;
    position: relative;
    background: rgb(255, 255, 216);
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 57px;
    text-align: center;
    text-justify: auto;
    font-family: 'Raleway', sans-serif;
  }

  .myText {
    text-align: left;
    text-justify: auto;
    font-size: 71%;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(4, 18, 0, 0.8);
    color: beige;
  }
  
  q {font-style: italic;}


/* ///// MENU BAR ///// */

nav
{
	height: 150px;
	width: 75%;
	position: absolute;
	top: 0;
	right: 2%;
	text-align: right;
}

nav ul#main_menu
{
    list-style-type: none;
    position: absolute;
    bottom: 45px;
    right: 5%;
    z-index: 400;
}

nav ul#main_menu li
{
	display: inline;
}

nav ul#main_menu li a
{
	padding: 14px 14px;
	letter-spacing: 0px;
	text-decoration: none;
  font-family: 'Poppins', sans-serif;
	color: #0d2745;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	position: relative;
	z-index: 1;
}

nav ul#main_menu li a:hover
{
	color: black;
}

nav ul#main_menu li a:after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #0d2745;
	width: 0%;
	content: '.';
	color: transparent;
	height: 2px;
}

nav ul#main_menu li a:hover:after
{
	width: 100%;
}
