body{
    background-color: rgb(200, 233, 168);
    gap: 70px;
}

header{
    grid-area: header;
    text-align: center;
    color: rgb(0, 59, 0);
    font-family: optima;
}

h1{
  font-size: 8vh;
}

#description{
    grid-area: description;
    text-align: center;
    color: rgb(0, 59, 0);
    padding-left: 20%;
    padding-right: 20%;
    font-family: optima;
}

#footer{
    grid-area: footer;
    color: rgb(0, 59, 0);
}

.main{
    grid-area: main_content;  
    padding-left: 1vh;
    padding-right: 1vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_map slideshow";
    display: grid;
}

#contents{
    grid-area: content;
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

/* Slideshow container */
.slideshow-container {
    grid-area: slideshow;
    height: 80vh;
    position: relative;
    background: #fffbdcf1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 50px;
    text-align: center;
    text-justify: auto;
    font-family: optima;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  q {font-style: italic;}
